*.py[cod]
.cache-*
.DS_Store

# C extensions
*.so

# Environments
.env
.venv
env/
venv/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
requirements_PA.txt
app.db

# Misc
mock_data_outputs/
misc/
pyproject.toml
poetry.lock

# Deepgram docs
deepgram-docs/
