[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaudio = "==0.2.14"
websockets = "==12.0"
janus = "==1.0.0"
flask = "==3.0.0"
flask-socketio = "==5.3.6"
python-dotenv = "==1.0.0"

[dev-packages]

[requires]
python_version = "3.12"
